button {
	background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    z-index: 3;
}

.my-swipper {
	height: 100%;
}

.my-slide {
	display: flex;
	align-items: center;
	justify-content: center;
}

.detalle-container {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #ffffffe8;
}

.imagen-detalle {
	width: 100%;
}

.contenedor-imagen {
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.close {
	width: 30px;
    height: 30px;
    color: black;
    margin-bottom: 20px;
}