.header {
  position: fixed;
  background-color: #d9d9d94d;
  box-shadow: 12px 12px 20px 13px #d9d9d94d;
  height: 100vh;
  top: 0;
  z-index: 1;
  right: 0;
  width: 470px;
  animation: show-navbar 3s 2s cubic-bezier(.47,.04,.82,.62) both;
}

.menu-container {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}

.menu-items {
  font-size: 40px;
  color: #fbfbfb;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-align: start;
  text-decoration: none;
  letter-spacing: 18px;
  margin: 0 0 60px 40px;
  font-weight: 400;
}

.item-0 {
  animation: show-text-navbar 1s 8s ease-in both;
}

.item-1 {
  animation: show-text-navbar 1s 9s ease-in both;
}

.item-2 {
  animation: show-text-navbar 1s 10s ease-in both;
}

.item-3 {
  animation: show-text-navbar 1s 11s ease-in both;
}

.item-4 {
  animation: show-text-navbar 1s 12s ease-in both;
}

.item-5 {
  animation: show-text-navbar 1s 13s ease-in both;
}

.link a:hover {
  color: #901E1E;
}

.link .sub-menu a {
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 5px;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 5px;
  align-items: flex-end;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: 0.3s;
}

.sub-menu-open {
  visibility: visible;
  opacity: 1;
  height: 100%;
  transition: 0.5s;
}

.title {
  margin: 20px;
}

@keyframes show-navbar {
  from {
    height: 0;
  }
  to {
    height: 100vh;
  }
}

@keyframes show-text-navbar {
  from {
    clip-path: polygon(1% 0%,100% 0%,100% 0%,1% 0%);

  }
  to {
    clip-path: polygon(1% 0%,100% 0%,100% 100%,0% 100%);
  }
}

@media (max-width: 1032px) {
  .header {
    width: 360px;
  }
}
